html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/galaxy.jpg);
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  background-color: #efb106;
}
p,
[for="abtype"] {
  margin-bottom: 0;
  margin-top: 2rem;
}
section {
  flex-basis: 57%;
  margin-right: 10%;
}
aside {
  flex-basis: 33%;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
}
legend {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
label {
  display: block;
  padding: 0.3rem;
}
textarea {
  padding: 1rem;
  height: 10rem;
}
select,
select option {
  font-size: 1rem;
}
button {
  font-size: 1rem;
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  background-color: #68828f;
  padding: 0.5rem 1rem;
  color: white;
}
button:hover {
  background-color: white;
  color: #68828f;
}
input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  display: block;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}
